<div class="w-9/12 mx-auto">
  <h1 class="font-bold text-4xl">Farmtime</h1>  

  <h1 class="mt-4 font-bold text-2xl text-gray-700">ANC-UST  <div class="text-3xl text-blue-500"><%= number_to_currency(@ancUstValue.round(2)) %></div></h1>
  <h1 class="mt-2 font-bold text-2xl text-gray-700">LUNA-UST  <div class="text-3xl text-blue-500"><%= number_to_currency(@lunaUstValue.round(2)) %></div></h1>
  <h1 class="mt-2 font-bold text-2xl text-gray-700">OSMO-UST  <div class="text-3xl text-blue-500"><%= number_to_currency(@osmoUstValue.round(2)) %></div></h1>
  

  <%# <%= line_chart [["2021-01-01", 2], ["2021-01-02", 3], ["2021-01-03", 10]] %> 
</div>
