development:
  :concurrency: 5
production:
  :concurrency: 10
:queues:
  - high
  - default
  - mailers

:schedule:
  get_coin_prices:
    every: 60s
    class: GetCoinPrices
  update_pools:
    every: 60s
    class: UpdatePools
  # snapshot_pool:
  #   cron: "0 12 * * * Asia/Kuala_Lumpur"
