development:
  :concurrency: 5
production:
  :concurrency: 10
:queues:
  - high
  - default
  - mailers

:schedule:
  get_coin_prices:
    every: 60s
    class: GetCoinPrices
  update_pools:
    every: 60s
    class: UpdatePools
  snap_hourly:
    every: 3 hours
    class: SnapHourly  
  snap_daily: 
    cron: "1 0 * * *" // run 12:01am daily / 8:01am MYT
    class: SnapDaily
