<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-red-600 sm:w-1/5 w-full rounded-xl text-center mx-auto">
  <div class="mx-auto py-3 px-3 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between flex-wrap">
      <div class="flex-1 flex items-center">
        <span class="flex p-2 rounded-lg bg-red-800">
          <!-- Heroicon name: outline/speakerphone -->
          <i class="text-red-400 fa-solid fa-triangle-exclamation"></i>
        </span>
        <p class="ml-3 font-medium text-white truncate">          
          <span class="inline">Pool is inactive</span>
        </p>
      </div>      
    </div>
  </div>
</div>
